@import "tailwindcss";





* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Inter, sans-serif;
  background: #000;
  color: #fff;
}

body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  width: 100%;
}

::selection {
  background: white;
  color: black;
}
